// * {
//   border: 1px solid red;
// }

body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic Coding', monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: white;
  img {
    display: block;
    margin: 20px auto 20px auto;
  }
  .classy {
    text-align: center;
  }
}

.middle {
  background-color: #FFDBDA;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  margin: 40px 2.5% 40px 2.5%;
  width: 95%;
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    .grid-item {
      img {
        width: 300px;
        height: 300px;
        border: 3px solid white;
      }
    }
  }
}

.footer {
  padding: 40px 40px 40px 40px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .natural-wine:hover {
    .highlight p {
      background-color: #cfebf9;
      font-size: 50px;
    }
  }
  .natural-wine-info {
    display: none;
  }
  .natural-wine:hover .natural-wine-info {
    display: block;
    p {
      width: 600px;
    }
  }
  .mission-statement:hover {
    .highlight p {
      background-color: #cfebf9;
      font-size: 50px;
    }
  }
  .mission-statement-info {
    display: none;
  }
  .mission-statement:hover .mission-statement-info {
    display: block;
    p {
      width: 600px;
    }
  }
  .wine-club:hover {
    .highlight p {
      background-color: #cfebf9;
      font-size: 50px;
    }
  }
  .wine-club-info {
    display: none;
  }
  .wine-club:hover .wine-club-info {
    display: block;
    p {
      width: 600px;
    }
  }
  .contact:hover {
    .highlight p {
      background-color: #cfebf9;
      font-size: 50px;
    }
  }
  .contact-info {
    display: none ;
  }
  .contact:hover .contact-info {
    display: block;
    p {
      width: 300px;
    }
  }
  .hours:hover {
    .highlight p {
      background-color: #cfebf9;
      font-size: 50px;
    }
  }
  .hours-info {
    display: none;
  }
  .hours:hover .hours-info {
    display: block;
    p {
      width: 300px;
    }
  }
}

.bottom {
  // height: 200px;
  background-color: white;
}

@media screen and ( max-width: 1000px) {
  .middle {
    .grid-container {
      display: grid;
      grid-template-columns: auto;
      .grid-item {
        img {
          width: 500px;
          height: 500px;
        }
      }
    }
  }
  .header {
    .footer {
      .natural-wine:hover {
        .highlight p {
          background-color: yellow;
          font-size: 25px;
        }
      }
      .natural-wine-info {
        display: none;
      }
      .natural-wine:hover .natural-wine-info {
        display: block;
        p {
          width: 300px;
        }
      }
      .mission-statement:hover {
        .highlight p {
          background-color: yellow;
          font-size: 25px;
        }
      }
      .mission-statement-info {
        display: none;
      }
      .mission-statement:hover .mission-statement-info {
        display: block;
        p {
          width: 300px;
        }
      }
      .wine-club:hover {
        .highlight p {
          background-color: yellow;
          font-size: 25px;
        }
      }
      .wine-club-info {
        display: none;
      }
      .wine-club:hover .wine-club-info {
        display: block;
        p {
          width: 300px;
        }
      }
      .contact:hover {
        .highlight p {
          background-color: yellow;
          font-size: 25px;
        }
      }
      .contact-info {
        display: none ;
      }
      .contact:hover .contact-info {
        display: block;
        p {
          width: 300px;
        }
      }
      .hours:hover {
        .highlight p {
          background-color: yellow;
          font-size: 25px;
        }
      }
      .hours-info {
        display: none;
      }
      .hours:hover .hours-info {
        display: block;
        p {
          width: 300px;
        }
      }
    }
  }
}

@media screen and ( max-width: 650px) {
  .header {
    .footer {
      display: none;
    }
  }
  .middle {
    .grid-container {
      display: grid;
      grid-template-columns: auto;
      .grid-item {
        img {
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}
